@model IEnumerable<EFstore.Models.OrderModel>

@{
    ViewBag.Title = "Order Page";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFinished)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinished)
            </td>
            <td>
                @item.OrderDetails.Count;
                @Html.ActionLink("See Details", "Details", "Order", new { id = item.OrderID }, null)
            </td>
        </tr>
    }

</table>
